body{
    overflow-x: hidden; /*pour fixer l'ecran*/
    padding: 0px;
    width: 100%;
    background-image: url("media/vert.jpeg");
    background-size: cover;
    background-repeat: no-repeat;

    }

    .global{

        width:66%;
        height:600px;
        border:1px solid;
        background-image: url("media/img1.png");
        background-size: cover;
        background-repeat: no-repeat;/*pour ne pas repeté img*/
        display: flex;
        justify-content: space-around;
        margin-left: 220px;
        margin-top: 23px;

    }
    .global1{
        width:66%;
        height:600px;
        border:1px solid black;
        background-image: url("media/seconde.png");
        background-size: 100%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;/*mettre le tableau en forme*/
        margin-left: 220px;
        margin-top: 23px;

    }
    .header{
        height: 55%;
        width: 100%;
        display: flex;
    }
    section{
        width:100%;
        height: 500px;
        margin : auto;
        box-sizing: border-box;
        margin-left: 300px;

    }
    .gameover {
        width:750px;
        height: auto;
        background: none;
    }

    .gameover p {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 160px;
        font-family: 'Black Ops One', cursive;
        line-height: 120px;
        text-align: center;
        text-shadow: -5px -5px #f5f1f1;
        color: #dd4075;
        animation-duration: 1s;
        animation-name: clear;/*l'annimation*/
    }
    table{
        width: 350px;
        height: 300px;

    }
    .clear{
        width: 100%;
        height: 500px;
        margin: auto;
        box-sizing: border-box;
        margin-left: 50px;
        }
    tbody{
        width: 500px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-self: center;
    }


    .td{
        width: 70px;
        height: 65px;
        background-image:url("media/td.png");
        background-size: cover;
        border-radius: 120%;
    }

    .td-hide{
        width: 70px;
        height: 65px;
        background-size: cover;
        border-radius: 120%;
    }

    a{
        display: inline;
    }
    .gren{
        position: relative;
        height:45px;
        width:65px;
        border-radius: 100%;
        animation: grenouille 1s infinite;
       }

    @keyframes grenouille {
        0%   {top:1px;}
        50%  {top:5px;}
        100% {top:1px;}
       }

    @keyframes clear {
        from {
          transform: scale(1); /* identique à scaleX(2) scaleY(2)*/
        }
        to {
          transform: scale(1.5); /* identique à scaleX(2) scaleY(2)*/
        }
      }
    #moncercle{
        position: relative;
        border-radius:50%;
        width:30px;
        height:30px;
        border:2px solid white;
        animation: cercle 3s ease;
      }
      @keyframes cercle{
        0%   {

            transform: scale(0); 
            border:2px solid #edf0e7; 
        }
        54%  {
            transform: scale(-1.2);
            border:2px solid #edf0e7; 
        }
        70% {
            transform: scale(-1.3);
            border:2px solid #edf0e7; 
        }
        100% {
            transform: scale(0);
            border:0px solid transparent ; 
        }
       }
